.main-container {
    max-width: 1440px;
    margin: 0 auto;
}

.announcements { 
    background-color: rgba(255, 166, 0, 0.794);
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.announcements span {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    max-width: 60%;
    text-align: center;
    font-size: 19px;
    line-height: 1.75;
    font-weight: 500;
    
}

.left-right-section {
    display: flex;
    margin-bottom: 32px;
}

.left-right-section .text {
    width: 50%;
    /* padding: 32px 48px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 166, 0, 0.5);
}

.text h1, .text h3 {
    margin: 0;
}
.text h1 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 24px;
}

.text h3 {
    font-weight: 350;
    margin-bottom: 32px;
    font-size: 19px;
}

.text h3 span {
    font-weight: 900;
    font-style: italic;
    
}

.text .cta {
    padding:7px 16px;
    border: 1px solid;
    border-radius: 50px;
    line-height: 1.2;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.text .cta:hover {
    background-color: rgba(255, 166, 0, 0.308);
    transition: all 0.2s ease;
}

.left-right-section .image {
    width: 50%;
    height: 420px;
    padding: 32px 48px;
    display: flex;
}

.left-right-section .image img {
    width: 100%;
}

.chill .text h1 {
    font-size: 3.3rem;
    font-weight: 600;
    line-height: 1.2;
}

.chill .text h3 {
    /* font-size: 1.3rem; */
    font-weight: 100;
}





